# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Packages
*.egg
*.egg-info

# IDEs
.idea/

# Environments
.env
.venv
env/
venv/
